body {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("Gustave_Doré-Forest_at_Twilight.webp");
  background-color: #1f1d15;
  color: ghostwhite;
  max-width: 550px;
  margin: 0 auto;
  zoom: 1.2;
  background-attachment: fixed;
}
h1,h2 {
  color: #dbcc9b;
}
a {
  color: ghostwhite;
}
.tag {
  padding: 4px;
  border-style: solid;
  line-height: 32px;
  text-decoration:none;
  border-width: 1px;
}
img {
  width: 100%;
}
.date {
  color: #dbcc9b;
  display: block;
  text-align: right;
}
blockquote {
  text-decoration: italic;
  padding-left: 15px;
  background: #00000055;
  border: 1px solid white;
}
