<!DOCTYPE html>
<html>
<head>
  <title>The Narrow Way</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/writing.css" />
  <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
</head>
<body>
<main>
{{ .Content }}<small class=date>{{ .PublishDate.Format "January 2, 2006" }}</small></main>
    {{ range .Site.Taxonomies.series.golang }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>{{ end }}
    {{ range (.GetTerms "tags") }}<a class=tag href="{{ .Permalink }}">{{ .LinkTitle }}</a>
 {{ end }}
</body>
</html> 
